body {
  background-color: rgb(40, 40, 40);
  color: white;
  font-family: Arial, sans-serif;
  text-align: center;
}

.heading {
  font-size: 30px;
  font-weight: bold;
}

.move-icon {
  height: 60px;
}

.move-button {
  background-color: transparent;
  color: white;
  border: 2px solid white;
  width: 90px;
  height: 90px;
  border-radius: 50px;
  margin-right: 20px;
  margin-top: 20px;
  cursor: pointer;
}

.move-button:hover {
  background-color: rgb(150, 150, 150);
}

.result {
  font-size: 25px;
  font-weight: bold;
  margin-top: 30px;
  font-size: 15px;
}

.score {
  margin-top: 30px;
  font-size: 15px;
}

.reset-button, .auto-play-button{
  background-color: white;
  border: none;
  border-radius: 20px;
  font-size: 15px;
  padding: 10px 15px;
  margin-top: 15px;
  cursor: pointer;
}

.stop-playing-button {
  background-color: #c1121f;
  border: none;
  border-radius: 20px;
  font-size: 15px;
  padding: 10px 15px;
  margin-top: 15px;
  cursor: pointer;
}


